<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144464435218-d8baks5lvrh4mtmtbvj2q80t3te7hb41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144464435218-d8baks5lvrh4mtmtbvj2q80t3te7hb41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144464435218-8iavdsfo5eh25brv7etp9grfat76mb5o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIFrmJZpKzQhuNTsoiLdnDzX00kOKBXJA</string>
	<key>GCM_SENDER_ID</key>
	<string>144464435218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hassan.ameenProject</string>
	<key>PROJECT_ID</key>
	<string>ameen-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>ameen-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144464435218:ios:e658b9f829f275ae5860cb</string>
	<key>DATABASE_URL</key>
	<string>https://ameen-projects.firebaseio.com</string>
</dict>
</plist>